<article class="card">
    {{ with .Params.images }}
        {{ $original := $.Resources.GetMatch (index . 0) }}
        {{ $image := $original }}
        {{ if ne (string $original.MediaType) "image/svg+xml" }}
            {{ $image = $original.Fill "380x380" }}
        {{ end }}
            <a href="{{ $.RelPermalink }}"><img 
               {{ if $.Params.image.description }} alt="{{ $.Params.image.description }}" {{ end }} 
                                                  src="{{ $image.RelPermalink }}" height="380" width="380"/></a>
    {{ end }}
    <div class="card-text">
        <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
        <time>Le {{ .Date.Format "2/01/2006" }}</time>
        <p>{{ .Summary }}</p>
        <tags>
            {{ range (.GetTerms "tags") }}
            <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
            {{ end }}
        </tags>
    </div>
</article>
