<header role="banner">
    <nav>
        <div class="main-nav">
            <label for="toggle-menu"><img src="/images/icons/menu.svg" class="icon"/></label>
            <a href="/"><img src="/images/logo-icon.svg" class="mobile-only"/><img src="/images/logo-tcweb.svg" class="desktop-only"/></a>
            <i class="fa fa-search" aria-hidden="true"></i>
        </div>
        <input type="checkbox" id="toggle-menu"/>
        <ul class="sub-nav">
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
        </ul>
    </nav>
</header>
