<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ hugo.Generator }}
    {{ if eq .RelPermalink "/" }}
    <title>{{ .Title }}</title>
    {{ else }}
    <title>{{ .Site.Title }} - {{ .Title }}</title>
    {{ end }}

    {{ if eq .RelPermalink "/" }}
    <meta property="description" content="{{ .Site.Params.description }}">
    {{ else if .Description }}
    <meta property="description" content="{{ .Description }}">
    {{ end }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/schema.html" . }}
    {{ template "_internal/twitter_cards.html" . }}

    <link rel="shortcut icon" href="{{ .Site.Params.icon.url }}" type="image/x-icon"/>
    {{ $sass := resources.Get "sass/main.scss" }}
    {{ $style := $sass | resources.ToCSS }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    <link rel="stylesheet" href="/Fork-Awesome-1.2.0/css/fork-awesome.min.css">

    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
