<!-- Social Share Button HTML -->
<section class="merci">
    <p>
    Merci d'avoir pris le temps de lire ce texte. Vous pouvez soutenir l'écriture de ces billets et la réalisation des livecoding par <a href="/soutenir-lauteur/">de nombreux moyens</a>. Mais le plus beau moyen de me remercier est de simplement partager ce texte autour de vous.
    </p>
    <p>
        Sauf mention contraire, tout le contenu de ce site est sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/">
            <i class="fa fa-cc-cc" aria-hidden="true"></i>
            <i class="fa fa-cc-by" aria-hidden="true"></i>
            <i class="fa fa-cc-sa" aria-hidden="true"></i>
        </a>
    </p>
</section>
